/* PC、スマホ用共通スタイル */

/* ヘッダー */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}
/* メインビジュアル */
#main-visual img{
  width: 100%;
  max-width: 1000px;
  height: auto;
}
h1{
  text-align: left;
  font-size: 20px;
  padding: 0px  40px;
}
p{
  text-align: left;
  font-size: 20px;
  padding: 0px 40px ;
}

#main-visual{
  text-align: center;
  margin-top: 20px;
}

/* ナビゲーションのレイアウト */
#nav-pc{
  font-size: 14px;
}

#nav-pc ul{
  display: flex;
  padding-left: 0;
}

#nav-pc li{
  list-style: none;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc a {
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

#nav-pc a:hover{
  text-decoration: underline;
}


#menu-sp{
  display: none;
}

#nav-sp{
  display: none;
}


 /*====================
  スマートフォン用のスタイル
 =====================*/

body{
  min-width: 375px;
  margin: 0;
}

/* 画像幅が767px以下のとき */
@media  screen and (max-width:767px) {
/* スマートフォン用のスタイルを指定する */
/* PC用ナビゲーションを非表示に */
 #nav-pc{
  display: none;
 }
}

/* ハンバーガーメニュー */
#menu-sp{
  float: right;
  padding: 0;
}

/* スマホ用ナビゲーションの表示切替 */
/* 初期状態、レイアウトと非表示設定 */
#nav-sp{
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  display: none;
  z-index: 100;
}


/* ×ボタン */
#close{
  position: absolute;
  top: 20px;
  right: 20px;
}

#nav-sp nav ul{
  padding-left: 0;
}

#nav-sp nav li{
  list-style: none;
}

/* ナビゲーションメニュー用ロゴ */
#logo-sp{
  margin: 80px 0px 30px 20px ;
}

/* ナビゲーションリンクの装飾設定 */
#nav-sp  a{
  display: block;
}

#nav-sp a:link {
  color: #ffffff;
}

#nav-sp a:visited{
  color: #ffffff;
}

#nav-sp a:hover{
  color: #ffffff;
  text-decoration: underline;
}

#nav-sp a:active{
  color: #ffffff;
}

#nav-sp.menu{
  text-decoration: none;
  display: block;
  /* 左右に２０ｐｘ */
  margin: 20px 20px;
  height: 44px;
  font-size: 16px;
  background-image: url(images/arrow.png);
  background-repeat: no-repeat;
  background-position: right top;
}